USE [master]
GO
/****** Object:  Database [TeaShopManagement]    Script Date: 10/28/2021 9:03:33 PM ******/
CREATE DATABASE [TeaShopManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TeaShopManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TeaShopManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TeaShopManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TeaShopManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TeaShopManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TeaShopManagement]
GO
/****** Object:  Table [dbo].[tblAccount]    Script Date: 10/28/2021 9:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccount](
	[userName] [nvarchar](100) NOT NULL,
	[roleId] [int] NOT NULL,
	[accountName] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBill]    Script Date: 10/28/2021 9:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dateCheckIn] [date] NOT NULL,
	[dateCheckOut] [date] NULL,
	[idTable] [int] NOT NULL,
	[status] [nvarchar](100) NOT NULL,
	[totalPrice] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBillInfo]    Script Date: 10/28/2021 9:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBillInfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idBill] [int] NOT NULL,
	[idFood] [int] NOT NULL,
	[count] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCategories]    Script Date: 10/28/2021 9:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFoods]    Script Date: 10/28/2021 9:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFoods](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[idCategory] [int] NOT NULL,
	[price] [float] NOT NULL,
	[status] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRoles]    Script Date: 10/28/2021 9:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoles](
	[roleId] [int] NOT NULL,
	[roleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[roleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTable]    Script Date: 10/28/2021 9:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[status] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblAccount] ([userName], [roleId], [accountName], [password]) VALUES (N'bruh', 0, N'staff 1', N'2')
INSERT [dbo].[tblAccount] ([userName], [roleId], [accountName], [password]) VALUES (N'nhut', 1, N'phan minh nhutt', N'1')
GO
SET IDENTITY_INSERT [dbo].[tblBill] ON 

INSERT [dbo].[tblBill] ([id], [dateCheckIn], [dateCheckOut], [idTable], [status], [totalPrice]) VALUES (35, CAST(N'2021-10-19' AS Date), CAST(N'2021-10-22' AS Date), 2, N'PAID', 156000)
INSERT [dbo].[tblBill] ([id], [dateCheckIn], [dateCheckOut], [idTable], [status], [totalPrice]) VALUES (36, CAST(N'2021-10-19' AS Date), CAST(N'2021-10-19' AS Date), 9, N'PAID', 78000)
INSERT [dbo].[tblBill] ([id], [dateCheckIn], [dateCheckOut], [idTable], [status], [totalPrice]) VALUES (37, CAST(N'2021-10-19' AS Date), CAST(N'2021-10-22' AS Date), 5, N'PAID', 146000)
SET IDENTITY_INSERT [dbo].[tblBill] OFF
GO
SET IDENTITY_INSERT [dbo].[tblBillInfo] ON 

INSERT [dbo].[tblBillInfo] ([id], [idBill], [idFood], [count]) VALUES (75, 35, 1, 2)
INSERT [dbo].[tblBillInfo] ([id], [idBill], [idFood], [count]) VALUES (76, 35, 2, 2)
INSERT [dbo].[tblBillInfo] ([id], [idBill], [idFood], [count]) VALUES (77, 36, 2, 2)
SET IDENTITY_INSERT [dbo].[tblBillInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCategories] ON 

INSERT [dbo].[tblCategories] ([id], [name]) VALUES (1, N'Vietnamese PHIN coffee')
INSERT [dbo].[tblCategories] ([id], [name]) VALUES (2, N'Tea')
INSERT [dbo].[tblCategories] ([id], [name]) VALUES (3, N'Ice Blended')
SET IDENTITY_INSERT [dbo].[tblCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[tblFoods] ON 

INSERT [dbo].[tblFoods] ([id], [name], [idCategory], [price], [status]) VALUES (1, N'Iced Coffee with Condensed Milk', 1, 39000, N'active')
INSERT [dbo].[tblFoods] ([id], [name], [idCategory], [price], [status]) VALUES (2, N'Iced Black Coffee', 1, 39000, N'active')
INSERT [dbo].[tblFoods] ([id], [name], [idCategory], [price], [status]) VALUES (3, N'White PHIN Coffee & Condensed Milk', 1, 39000, N'active')
SET IDENTITY_INSERT [dbo].[tblFoods] OFF
GO
INSERT [dbo].[tblRoles] ([roleId], [roleName]) VALUES (0, N'staff')
INSERT [dbo].[tblRoles] ([roleId], [roleName]) VALUES (1, N'admin')
GO
SET IDENTITY_INSERT [dbo].[tblTable] ON 

INSERT [dbo].[tblTable] ([id], [name], [status]) VALUES (1, N'Table 0', N'Empty')
INSERT [dbo].[tblTable] ([id], [name], [status]) VALUES (2, N'Table 1', N'Empty')
INSERT [dbo].[tblTable] ([id], [name], [status]) VALUES (3, N'Table 2', N'Empty')
SET IDENTITY_INSERT [dbo].[tblTable] OFF
GO
ALTER TABLE [dbo].[tblBill] ADD  DEFAULT (getdate()) FOR [dateCheckIn]
GO
ALTER TABLE [dbo].[tblBill] ADD  DEFAULT (N'not pay') FOR [status]
GO
ALTER TABLE [dbo].[tblBillInfo] ADD  DEFAULT ((0)) FOR [count]
GO
ALTER TABLE [dbo].[tblFoods] ADD  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[tblTable] ADD  DEFAULT (N'Empty') FOR [status]
GO
ALTER TABLE [dbo].[tblAccount]  WITH CHECK ADD FOREIGN KEY([roleId])
REFERENCES [dbo].[tblRoles] ([roleId])
GO
ALTER TABLE [dbo].[tblBill]  WITH CHECK ADD FOREIGN KEY([idTable])
REFERENCES [dbo].[tblTable] ([id])
GO
ALTER TABLE [dbo].[tblBillInfo]  WITH CHECK ADD FOREIGN KEY([idBill])
REFERENCES [dbo].[tblBill] ([id])
GO
ALTER TABLE [dbo].[tblBillInfo]  WITH CHECK ADD FOREIGN KEY([idFood])
REFERENCES [dbo].[tblFoods] ([id])
GO
ALTER TABLE [dbo].[tblFoods]  WITH CHECK ADD FOREIGN KEY([idCategory])
REFERENCES [dbo].[tblCategories] ([id])
GO
/****** Object:  StoredProcedure [dbo].[USP_DeleteBillInfo]    Script Date: 10/28/2021 9:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--
CREATE proc [dbo].[USP_DeleteBillInfo] @idBill int, @idFood int, @count int
as
begin
	declare @isExistBillInfo int
	declare @foodCount int = 1

	select @isExistBillInfo = id, @foodCount =bi.count
	from tblBillInfo as bi
	where idBill = @idBIll and idFood = @idFood
	if(@isExistBillInfo > 0)
	begin
		declare @newCount int = @foodCount - @count
		update tblBillInfo set count = @foodCount - @count where idFood = @idFood and idBill = @idBill 
		if(@newCount <= 0)
			
			delete tblBillInfo where idBill = @idBill and idFood = @idFood 
	end

end
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAccountByUserName]    Script Date: 10/28/2021 9:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GetAccountByUserName]
@userName nvarchar(100)
as
begin
	select * from tblAccount where userName = @userName
end
GO
/****** Object:  StoredProcedure [dbo].[USP_GetTableList]    Script Date: 10/28/2021 9:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_GetTableList]
as select * from tblTable
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBill]    Script Date: 10/28/2021 9:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_InsertBill] @idTable int 
as
begin
	insert tblBill (dateCheckIn, dateCheckOut, idTable, status)
	values (getdate(), null, @idTable, 'UNPAID')
end
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBillInfo]    Script Date: 10/28/2021 9:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--create roi moi alter proc

CREATE proc [dbo].[USP_InsertBillInfo] 
@idBIll int, @idFood int, @count int
as
begin
	
	declare @isExistBillInfo int

	declare @foodCount int = 1

	select @isExistBillInfo = id, @foodCount =bi.count
	from tblBillInfo as bi
	where idBill = @idBIll and idFood = @idFood

	if(@isExistBillInfo > 0)
	begin
		
			update tblBillInfo set count = @foodCount + @count where idFood = @idFood and idBill = @idBIll 
		
	end
	else
	begin
		insert tblBillInfo (idBill, idFood, count)
		values (@idBIll, @idFood, @count)
	end
end
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateAccountInfo]    Script Date: 10/28/2021 9:03:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[USP_UpdateAccountInfo]
@userName nvarchar(100), @displayName nvarchar(100), @passWord int, @newPass int
as
begin
	declare @isCorrectPass int = 0
	select @isCorrectPass = count(*) from tblAccount where userName = @userName and password = @passWord

	if(@isCorrectPass = 1)
	begin
		if(@newPass = null or @newPass = '')
		begin
			update tblAccount set accountName = @displayName where userName = @userName
		end
		else
			update tblAccount set accountName = @displayName, password = @newPass where userName = @userName
	end
end
GO
USE [master]
GO
